:root {
  --color-main: whitesmoke;
  --color-secondary: rgb(237, 237, 237);
  --color-tertiary: rgb(213, 253, 255);
  --color-header: rgb(54, 153, 173);
}

html {
  height: 100vh;
  width: 100vw;
  background-image: url(./images/background.jpg);
  background-size: cover;
}

a {
  text-decoration: none;
  padding: none;
  margin: none;
}
