body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  min-width: 448px;
  width: 60vw;
  height: 100vh;
  margin: auto;
  margin-top: 5vh;

  overflow-y: hidden;
}

.body-container {
  height: 80%;
  width: 100%;
  border-radius: 25px;
  background-color: var(--color-main);
}

.footer {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--color-main);
}

@media only screen and (max-width: 560px) {
  body {
    min-width: unset;
    width: 80vw;
  }
}
