.contact-grid-container {
  display: grid;
  grid-template: 4fr 1fr 2fr 8fr 2fr 1fr / repeat(2, 1fr);
  gap: 1rem;

  height: 100%;
  width: 100%;
  margin: auto;
}

.contact-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  &.contact-header {
    grid-area: 1 / span 2;
    align-self: flex-end;
    margin-bottom: 1rem;

    font-family: daydream;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;

    color: var(--color-blue);
  }

  &.first-name {
    grid-area: 2 / 1;
    padding-right: 3rem;
    justify-self: flex-end;
  }

  &.last-name {
    grid-area: 3 / 1;
    padding-right: 3rem;
    justify-self: flex-end;
  }

  &.contact-category {
    grid-area: 2 / 2 / span 2;
    justify-self: flex-start;
    align-self: space-between;
    padding-left: 3rem;
    flex-direction: column;
  }

  &.contact-message {
    grid-area: 4 / span 2;
  }

  &.contact-submit {
    grid-area: 5 / span 2;
  }
}

.contact-label {
  font-family: daydream;
  font-size: 1rem;
  color: var(--color-blue);
}

input[type="submit"] {
  background-color: var(--color-orange);
  font-family: daydream;
  font-size: 1rem;
  color: white;
  padding: 12px 20px;
  border-radius: 20px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0);
  cursor: pointer;

  &:hover {
    background-color: var(--color-blue);
  }
}

input[type="radio"] {
  background-color: var(color-blue);
}

textarea {
  width: 40%;
  height: 70%;
  padding: 1rem;

  border-radius: 20px;
  border-color: var(--color-blue);
  border-style: solid;
  background-color: var(--color-white);
}

fieldset {
  padding: none;
  margin: none;
  border: none;
}
