.contact-grid-container {
  display: grid;
  grid-template: 4fr 2fr 2fr 8fr 2fr 1fr / repeat(2, 1fr);
  gap: 1rem;

  height: 100%;
  width: 100%;
  margin: auto;
}

.contact-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  &.contact-input {
    padding-right: 2rem;
    justify-self: flex-end;
  }

  &.contact-category {
    grid-area: 2 / 2 / span 2;
    justify-self: flex-start;
    align-self: space-between;
    padding-left: 3rem;
    flex-direction: column;
  }

  &.contact-message {
    grid-area: 4 / span 2;
  }

  &.contact-submit {
    grid-area: 5 / span 2;
  }
}

.contact-header {
  grid-area: 1 / span 2;
  align-self: flex-end;
  padding-top: 1rem;
}

.contact-label {
  font-family: daydream;
  font-size: 1rem;
  color: var(--color-blue);
}

input[type="submit"] {
  background-color: var(--color-orange);
  font-family: daydream;
  font-size: 1rem;
  color: white;
  padding: 12px 20px;
  border-radius: 20px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0);
  cursor: pointer;

  &:hover {
    background-color: var(--color-blue);
  }
}

input[type="radio"] {
  color: var(--color-blue);
}

textarea {
  width: 40%;
  height: 70%;
  padding: 1rem;

  border-radius: 20px;
  border-color: var(--color-blue);
  border-style: solid;
  background-color: var(--color-white);
}

fieldset {
  padding: none;
  margin: none;
  border: none;
}

@media only screen and (max-width: 700px) {
  .contact-grid-item {
    &.contact-header {
      font-size: 1.7rem;
      margin-bottom: 0;
    }

    &.contact-input {
      padding: 0rem;
    }

    &.contact-category {
      padding: 0;
      padding-right: 1rem;
      justify-self: center;
    }
  }

  .contact-label {
    font-size: 0.8rem;
  }

  textarea {
    width: 70%;
    padding: none;
  }

  input[type="text"] {
    width: 70%;
  }
}

@media only screen and (max-height: 560px) {
  .contact-grid-container {
    grid-template: 0fr 2fr 2fr 16fr 2fr 1fr / repeat(2, 1fr);
  }

  .contact-grid-item {
    &.contact-header {
      font-size: 0rem;
      margin: 0;
    }
  }

  .contact-label {
    font-size: 0.8rem;
  }

  input[type="submit"] {
    font-size: 0.8rem;
    color: white;
    padding: 6px 10px;
    border-radius: 20px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    cursor: pointer;
  }
}
