.home-grid-container {
  display: grid;
  height: 80%;
  width: 90%;
  margin: auto;
  margin-top: 10vh;
  grid-template: 2fr 1fr 2fr / repeat(4, 1fr);
  gap: 20px;
}

.home-grid-item {
  display: flex;

  border-radius: 25px;

  background-color: rgb(195, 245, 194);

  &.intro {
    grid-area: 1 / span 4;

    background-color: var(--color-blue);
  }

  &.games-title {
    grid-area: 2 / span 2;

    text-align: left;
    align-self: flex-end;
    text-indent: 1vw;

    font-family: daydream;
    font-size: 2rem;
    text-transform: uppercase;

    color: var(--color-blue);
    background-color: var(--color-main);
  }

  &.about {
    grid-area: 2 / 3 / span 1 / span 2;
    background-color: var(--color-orange);
  }

  &.game-1 {
    grid-area: 3 / 1 / span 1 / span 1;
    background-color: var(--color-orange);
  }

  &.game-2 {
    grid-area: 3 / 2 / span 1 / span 1;
    background-color: var(--color-orange);
  }
}
