@media only screen and (max-width: 600px) {
  body {
    min-width: unset;
    width: 80vw;
  }

  .tab {
    margin-inline: 0.2rem;
  }

  .tab-text {
    font-size: 0.4rem;

    &.selected {
      font-size: 0.6rem;
    }
  }

  .tab-rounded {
    padding-top: 1vh;
    padding-inline: 1.5rem;
  }
}

@media only screen and (max-height: 560px) {
  .tab-text {
    font-size: 0.8rem;
  }
}
