@media only screen and (max-width: 700px) {
  body {
    min-width: unset;
    width: 80vw;
  }

  h1 {
    font-size: 2rem;

    &.home {
      font-size: 1.4rem;
    }
  }

  .text {
    font-size: 1rem;
  }

  .tab {
    margin-inline: 0.2rem;
    padding-inline: 0.4rem;
  }

  .tab-text {
    font-size: 0.4rem;

    &.selected {
      font-size: 0.6rem;
    }
  }

  .tab-rounded {
    padding-top: 1vh;
    padding-inline: 1.5rem;
  }

  .home-grid-container {
    grid-template: 4fr 1fr 1fr 3fr 3fr / repeat(4, 1fr);
    margin-top: 5vh;
    height: 90%;
  }

  .home-grid-item {
    &.intro {
      padding: 1.5rem;
    }

    &.games-title {
      grid-area: 3 / span 4;

      font-size: 1.5rem;
    }

    &.contact {
      grid-area: 2 / span 4;
    }

    &.game-1 {
      grid-area: 4 / 1 / span 1 / span 2;
    }

    &.game-2 {
      grid-area: 4 / 3 / span 1 / span 2;
    }
  }

  .intro-text-padding {
    padding-right: 5rem;
  }

  .home-illustration {
    bottom: calc(2vw - 1rem);
  }

  .game-container {
    grid-area: span 1 / span 2;
  }

  .get-in-touch {
    font-size: 0.8rem;
    padding-right: 3rem;
  }

  .game-grid {
    height: 90%;
    grid-template: 2fr 6fr 6fr 1fr / 1fr;
  }

  .game-grid-item {
    padding: 1rem;

    &.slide-container {
      grid-area: 2;
    }

    &.slide-indicator-container {
      grid-area: 4;
    }

    &.game-description {
      grid-area: 3;
    }
  }

  .slide-titles {
    font-size: 1rem;
  }

  .slide-texts {
    font-size: 1rem;
  }

  .slide-button {
    height: 20px;
  }

  .slide-indicators {
    width: 30px;
  }

  .contact-grid-item {
    &.contact-header {
      font-size: 1.7rem;
      margin-bottom: 0;
    }

    &.contact-input {
      padding: 0rem;
    }

    &.contact-category {
      padding: 0;
      padding-right: 1rem;
      justify-self: center;
    }
  }

  .contact-label {
    font-size: 0.8rem;
  }

  textarea {
    width: 70%;
    padding: none;
  }

  input[type="text"] {
    width: 70%;
  }
}

@media only screen and (max-height: 560px) {
  h1 {
    font-size: 1.5rem;
    &.home {
      font-size: 1rem;
    }
  }

  .text {
    font-size: 1rem;
  }

  .home-illustration {
    height: 100%;
    width: auto;
  }

  .tab-text {
    font-size: 0.6rem;

    &.selected {
      font-size: 0.8rem;
    }
  }

  .home-grid-item {
    &.intro {
      padding: 1rem;
    }

    &.games-title {
      font-size: 1rem;
    }
  }

  .get-in-touch {
    font-size: 0.6rem;
    padding-right: 1rem;
  }

  .game-grid {
    grid-template: 2fr 2fr 2fr 1fr / 1fr 1fr;
    margin-top: 5%;
    height: 90%;
  }

  .game-grid-item {
    padding: 1rem;
  }

  .slide-titles {
    font-size: 1rem;
  }

  .slide-texts {
    font-size: 1rem;
  }

  .slide-button {
    height: 20px;
  }

  .slide-indicator-container {
    margin-bottom: 5%;
  }

  .slide-indicators {
    width: 30px;
  }

  .contact-grid-container {
    grid-template: 0fr 2fr 2fr 16fr 2fr 1fr / repeat(2, 1fr);
  }

  .contact-grid-item {
    &.contact-header {
      font-size: 0rem;
      margin: 0;
    }
  }

  .contact-label {
    font-size: 0.8rem;
  }

  input[type="submit"] {
    font-size: 0.8rem;
    color: white;
    padding: 6px 10px;
    border-radius: 20px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    cursor: pointer;
  }
}
