@media only screen and (max-width: 600px) {
  body {
    min-width: unset;
    width: 80vw;
  }

  .tab-text {
    font-size: 0.8rem;
  }

  .rounded-tab {
    padding-top: 0.5vh;
  }
}

@media only screen and (max-height: 560px) {
  .tab-text {
    font-size: 0.8rem;
  }
}
