:root {
  --color-main: #f5f5f5;
  --color-secondary: #edededf8;
  --color-tertiary: #f5f5f5;
  --color-blue: #73c9d8;
  --color-orange: #f0ae63;
}

html {
  height: 100vh;
  width: 100vw;
  background-image: url(../images/wallpaper.jpg);
  background-size: cover;
}

a {
  text-decoration: none;
  padding: none;
  margin: none;
}

@font-face {
  font-family: daydream;
  src: url(../fonts/daydream.otf);
}
