:root {
  --color-transparent: rgb(245, 245, 245, 0.8);
  --color-tab: hsla(0, 0%, 93%, 0.9);
  --color-white: rgb(245, 245, 245);
  --color-blue: #73c9d8d2;
  --color-blue-gradient: #3973aa1c;
  --color-orange: rgb(240, 174, 99);
}

html {
  height: 100vh;
  width: 100vw;
  background-image: url(../images/wallpaper.jpg);
  background-size: cover;
}

a {
  text-decoration: none;
  padding: none;
  margin: none;
}

@font-face {
  font-family: daydream;
  src: url(../fonts/daydream.otf);
}
