body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  min-width: 448px;
  width: 75vw;
  max-width: 1250px;
  height: 100vh;
  margin: auto;

  overflow-y: hidden;
}

.main {
  height: 80%;
  width: 100%;

  border-radius: 18px;
  background-color: var(--color-transparent);
  backdrop-filter: blur(5px);
}

h1 {
  margin: 0;

  font-family: daydream;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;

  color: var(--color-blue);

  &.home {
    font-size: calc(1rem + 2vw);
    text-align: left;

    color: var(--color-white);
  }
}

h2 {
  margin: 0;

  font-family: daydream, sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;

  color: var(--color-blue);
  background-color: none;
}

.text {
  font-family: pixelify, sans-serif;
  font-size: 1.5rem;
}

footer {
  margin: 0;

  font-family: pixelify, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--color-blue);
  mix-blend-mode: multiply;
}

.white {
  color: var(--color-white);
}

.orange {
  color: var(--color-orange);
}

.blue {
  color: var(--color-blue);
}
